<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>AJAX Review</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/ajax-review.css">
</head>
<body>


<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <div class="navbar-header">
      <span class="navbar-brand">AJAX Review</span>
    </div>
  </div>
</nav>

<div class="container">


  <h2>Fortune</h2>

  <p>Want a fortune?
    <button id="get-fortune-button" class="btn btn-primary">Get Fortune</button>
  </p>

  <div id="fortune-text"></div>


  <h2>Weather Service</h2>

  <form id="weather-form">
    <div>
      Want weather?
      <input class="form-control" type="text" name="zipcode" id="zipcode-field"
             placeholder="zipcode">
    </div>
    <div>
      <button class="btn btn-primary mt-4" type="submit">Get It</button>
    </div>
  </form>

  <div id="weather-info"></div>


</div>

<script src="/static/ajax-review.js"></script>

</body>
</html>
